<!DOCTYPE html>
<html>
  <head>
    <title>kis_app</title>
    <%= csrf_meta_tags %>
  
    <%#= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>


 <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
 <% end %>
    <%#= link_to image_tag("1_Primary_logo_on_transparent_238x67.png"),root_path%>
  <!-- 追加 -->
    <% if user_signed_in? %>  <!-- deviseのメソッドで、「ログインしているかしていないかでtrue or falseを返す」メソッド -->
      <p><%= current_user.user_name%>さん </p>
      <%= link_to "未提出課題一覧", user_path(current_user) %>&emsp;
      <%= link_to "提出済み課題一覧",'/users/submit'%><br><br>
      <%= link_to "履修管理", '/users/cancel'%>&emsp;
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>&emsp;
      <%= link_to "府大ポータル","https://portal.osakafu-u.ac.jp/" %>
      <%#= link_to "マイページ", user_path(current_user.id) %>
    <% else %>
      <%= link_to "新規登録", new_user_registration_path %>　
      <%= link_to "ログイン", new_user_session_path %>
    <% end %>
      <%#= link_to "ツイート一覧", tweets_path %>
      <%#= link_to "ユーザー一覧", users_path %>
  <!-- ここまで -->
    <%= yield %>
  </body>
</html>